<md-sidenav-layout class="side_nav_layout fix-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-sm-12 main">
          <section class="main">
            <md-toolbar color="primary"> 
                <b>ngFire2 </b>
                <span class="hidden-xs hidden-sm">&nbsp;&nbsp;-&nbsp;({{userCount}} online)</span>
                <span class="example-fill-remaining-space"></span>
                 <span *ngIf="af.auth | async">
                    <label class="hidden-xs hidden-sm">Hi {{ (af.auth | async)?.auth.displayName }}</label>
                    <img src="{{ (af.auth | async)?.auth.photoURL }}" alt="" width="50px"/>
                    <button md-raised-button color="accent" (click)="onLogout()">Logout</button>
                    </span>
                    <span *ngIf="!(af.auth | async)">
                    <button md-raised-button color="accent" (click)="onLogin()" >Login</button>
                </span>
                <i class="hidden-md hidden-lg fa fa-chevron-right fa-2x custom-icon" aria-hidden="true" (click)="start.open()"></i>
      
            </md-toolbar>
              <md-card class="tile-card">
                    <md-card-content>
                        <div class="row-fluid" id="board-box">
                          <canvas id="board" #myBoard ></canvas>
                      </div> 
                    </md-card-content>
                    <md-card-actions sstyle="margin-top: -24px;">
                        <input type="color" class="colorPicker" id="colorPicker" [(ngModel)]="selectedColor" value="{{selectedColor}}" />
                        <button md-raised-button id="colorButton" (click)="onSelectColor()">Select Color</button>
                        <button md-raised-button color="primary" (click)="onCleanLines()">Clean Board</button>
                    </md-card-actions>
                </md-card>       
          </section>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 pull-right">
          <user-app></user-app>
        </div>
      </div>
    </div>
    <md-sidenav #start align="end" class="side_nav">
        <user-app></user-app>
    </md-sidenav>
      
</md-sidenav-layout>